################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestProject/.vs/TestProject/v15
/TestProject/TestProject.Tests/bin/Debug/netcoreapp2.0
/TestProject/TestProject.Tests/obj
